<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.android.wifi.resources.xiaomi" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29"/>
    <application android:hasCode="false" android:extractNativeLibs="false"/>
    <overlay android:priority="0" android:targetPackage="com.android.wifi.resources" android:targetName="WifiCustomization" android:isStatic="true"/>
</manifest>
